<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<title>Ayy lmao</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
</head>
<body>
	<div ng-app="internships">
		<ng-view></ng-view>
	</div>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/	angular-aria.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  	<script type='text/javascript' src='/javascripts/libs/nginfscroll.js'></script>
  	<script type="text/javascript" src="/javascripts/routes.js"></script>
  	<script type="text/javascript" src="/javascripts/authFactory.js"></script>
	<script type="text/javascript" src="/javascripts/loginCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/savedCtrl.js"></script>
	<script type="text/javascript" src="/javascripts/dashboardCtrl.js"></script>
</body>
</html>
